@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-os: 'Open Sans', sans-serif;
  --font-rb: 'Roboto', sans-serif;
  --col-accent: #df212d;
  --col-side-accent: #34abe0;
  --col-grey: rgba(0, 0, 0, 0.5);
  --padding-v: 27px;
  --padding-h: 21px;
  --minimized-sidenav-width: 12px;
}

body {
  position: relative;
  margin: 0;
  background: #fafafa;
  font-family: var(--font-rb);
  padding-left: var(--minimized-sidenav-width);
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10.5px;
  border: solid rgba(51, 51, 51, 0.2) 1px;
  padding: 12px 16px;
  --height: 16px;
  border-radius: calc(var(--height) / 2);
}

.input input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 28px;
  font-size: 14px;
  border: none;
  font-family: var(--font-os);
}

.input input:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin-left: var(--minimized-sidenav-width);
  z-index: 997;
  background: #fff;
  font-family: var(--font-os);
  -webkit-box-shadow: 0 1px #e5e5e5;
          box-shadow: 0 1px #e5e5e5;
  padding: var(--padding-v) var(--padding-h);
}

.header.scrolled .header__title {
  height: 0;
  margin: 0;
}

.header.scrolled .header__search {
  margin-top: 0;
  margin-left: 50px;
  gap: 0;
}

.header.scrolled .header__search::before {
  width: 0;
}

.header__title {
  height: auto;
  font-size: 24px;
  line-height: 32px;
  text-align: right;
  margin-top: 10px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  --height: 52px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-top: 21px;
}

.header__search::before {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  content: url("./resources/icons/search.svg");
  height: 20px;
  width: 20px;
  overflow: hidden;
}

.content {
  margin-top: 169px;
  padding: var(--padding-v) var(--padding-h);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  gap: 20px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
}

.clipped {
  border-radius: 10px;
  --angle-height: 6px;
  --deepness: 6px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(50% - var(--angle-height)), calc(100% - var(--deepness)) 50%, 100% calc(50% + var(--angle-height)), 100% 100%, 0 100%, 0% calc(50% + var(--angle-height)), var(--deepness) 50%, 0 calc(50% - var(--angle-height)));
          clip-path: polygon(0 0, 100% 0, 100% calc(50% - var(--angle-height)), calc(100% - var(--deepness)) 50%, 100% calc(50% + var(--angle-height)), 100% 100%, 0 100%, 0% calc(50% + var(--angle-height)), var(--deepness) 50%, 0 calc(50% - var(--angle-height)));
}

.coupon {
  --col-shadow: #e5e5e5;
  -webkit-filter: drop-shadow(0 2px 3px var(--col-shadow));
          filter: drop-shadow(0 2px 3px var(--col-shadow));
  width: 100%;
  max-width: 386px;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.coupon > * {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.coupon:hover {
  -webkit-filter: drop-shadow(0 3px 7px var(--col-shadow));
          filter: drop-shadow(0 3px 7px var(--col-shadow));
}

.coupon:hover .coupon__content {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.coupon__content {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 20px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.coupon__img {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  top: 0;
  right: 0;
}

.coupon__img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom right;
     object-position: bottom right;
}

.coupon__title {
  z-index: 5;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.coupon__description {
  z-index: 5;
  color: var(--col-grey);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0;
}

.coupon__offer {
  margin-top: 22px;
  color: var(--col-accent);
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  text-transform: uppercase;
}

.coupon__offer-description {
  font-size: 12px;
  letter-spacing: 0.4em;
  line-height: 16px;
  color: var(--col-grey);
  text-transform: uppercase;
}

/* SideNav */
.side-overlay {
  z-index: 998;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  opacity: 0;
}

.side-overlay.shown {
  display: block;
}

.side-overlay.visible {
  opacity: 0.5;
}

.sidenav {
  z-index: 9999;
  position: fixed;
  background: #f3f4f9;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(calc(-100% + var(--minimized-sidenav-width)));
          transform: translateX(calc(-100% + var(--minimized-sidenav-width)));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: var(--font-os);
  --padding-sidenav-h: 20px;
  padding: 40px var(--padding-sidenav-h);
  padding-right: 45px;
}

.sidenav.shown {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.sidenav.shown .sidenav__trigger::before {
  content: 'close';
}

.sidenav__trigger {
  position: absolute;
  top: 0;
  left: 100%;
}

.sidenav__trigger::before {
  position: absolute;
  top: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: 'menu';
  font-size: 32px;
  font-family: 'Material Icons';
}

.sidenav__trigger img {
  display: block;
  height: 100%;
}

.sidenav__ico {
  display: none;
  font-size: 24px;
}

.sidenav__item {
  color: #333;
  padding-left: var(--padding-sidenav-h);
  margin-top: 67px;
  margin-left: calc(2px - var(--padding-sidenav-h));
  font-size: 16px;
  line-height: 21.79px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sidenav__item.active {
  -webkit-box-shadow: -2px 0 0 var(--col-side-accent);
          box-shadow: -2px 0 0 var(--col-side-accent);
  color: var(--col-side-accent);
}

.sidenav__item:hover:not(.active) {
  color: var(--col-grey);
}

.sidenav__item + .sidenav__item {
  margin-top: 43px;
}

.sidenav .logo__img {
  height: 24px;
}

.sidenav ul {
  display: contents;
}

.sidenav ul li {
  list-style: none;
  padding: 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.logo__img {
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo__name {
  margin-left: 5px;
  font-weight: 600;
}

.ico {
  font-family: 'Material Icons';
}

@media screen and (min-width: 768px) {
  :root {
    --padding-h: 27px;
    --minimized-sidenav-width: 104px;
  }
  .header__title {
    margin-top: 0;
    font-size: 28px;
    line-height: 38.13px;
  }
  .header__search {
    margin-top: 33px;
  }
  .header__search > input {
    font-size: 18px;
  }
  .content {
    margin-top: 190px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .coupon__title {
    font-size: 14px;
  }
  .coupon__description {
    font-size: 14px;
  }
  .coupon__offer {
    font-size: 36px;
    margin-top: 31px;
  }
  .coupon__offer-description {
    font-size: 16px;
    margin-top: 3px;
  }
  .sidenav {
    --padding-sidenav-h: 40px;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .sidenav__ico {
    display: unset;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .sidenav * {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .sidenav__item {
    gap: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sidenav__item li {
    overflow: hidden;
    width: 0;
  }
  .sidenav__ico {
    display: unset;
  }
  .sidenav .logo__name {
    width: 0;
    margin-left: 0;
    overflow: hidden;
  }
  .sidenav.shown .sidenav__item {
    gap: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sidenav.shown .sidenav__item li {
    width: auto;
  }
  .sidenav.shown .logo__name {
    width: auto;
    margin-left: 5px;
  }
}

@media screen and (min-width: 1280px) {
  :root {
    --padding-v: 40px;
    --padding-h: 60px;
    --minimized-sidenav-width: 0;
  }
  body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr;
        grid-template-columns: auto 1fr;
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
    height: 100vh;
  }
  .header {
    position: unset;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .header.scrolled .header__search::before {
    content: initial;
  }
  .header__title {
    text-align: left;
  }
  .content {
    margin-top: 0;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    overflow-y: scroll;
  }
  .coupon__offer-description {
    margin-top: 6px;
  }
  .sidenav {
    position: unset;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
    -ms-grid-column: 1;
    grid-column: 1 / 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .sidenav__trigger {
    display: none;
  }
  .sidenav .logo__img {
    height: 50px;
  }
}
/*# sourceMappingURL=style.css.map */