@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-os: 'Open Sans', sans-serif;
  --font-rb: 'Roboto', sans-serif;

  --col-accent: #df212d;
  --col-side-accent: #34abe0;
  --col-grey: rgba(0, 0, 0, 0.5);

  --padding-v: 27px;
  --padding-h: 21px;

  --minimized-sidenav-width: 12px;
}

body {
  position: relative;
  margin: 0;
  background: #fafafa;
  font-family: var(--font-rb);
  padding-left: var(--minimized-sidenav-width);
}

.input {
  display: flex;
  gap: 10.5px;
  border: solid rgba(51, 51, 51, 0.2) 1px;
  padding: 12px 16px;

  --height: 16px;
  border-radius: calc(var(--height) / 2);

  input {
    flex: 1 1 auto;
    line-height: 28px;
    font-size: 14px;
    border: none;
    font-family: var(--font-os);

    &:focus {
      outline: none;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin-left: var(--minimized-sidenav-width);
  z-index: 997;
  background: #fff;
  font-family: var(--font-os);
  box-shadow: 0 1px #e5e5e5;
  padding: var(--padding-v) var(--padding-h);

  &.scrolled &__title {
    height: 0;
    margin: 0;
  }

  &.scrolled &__search {
    margin-top: 0;
    margin-left: 50px;
    gap: 0;

    &::before {
      // content: '';
      width: 0;
    }
  }

  &__title {
    height: auto;
    font-size: 24px;
    line-height: 32px;
    text-align: right;
    margin-top: 10px;

    overflow: hidden;
    transition: all 0.2s ease-in-out;
  }

  &__search {
    display: flex;
    gap: 10px;
    align-items: center;
    --height: 52px;
    transition: all 0.2s ease-in-out;
    margin-top: 21px;

    &::before {
      transition: all 0.2s ease-in-out;
      content: url('./resources/icons/search.svg');
      height: 20px;
      width: 20px;
      overflow: hidden;
    }
  }
}

.content {
  margin-top: 169px;
  padding: var(--padding-v) var(--padding-h);
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
}

.clipped {
  border-radius: 10px;

  --angle-height: 6px;
  --deepness: 6px;

  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(50% - var(--angle-height)),
    calc(100% - var(--deepness)) 50%,
    100% calc(50% + var(--angle-height)),
    100% 100%,
    0 100%,
    0% calc(50% + var(--angle-height)),
    var(--deepness) 50%,
    0 calc(50% - var(--angle-height))
  );
}

.coupon {
  --col-shadow: #e5e5e5;
  filter: drop-shadow(0 2px 3px var(--col-shadow));
  width: 100%;
  max-width: 386px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  & > * {
    transition: all 0.1s ease-in-out;
  }

  &:hover {
    filter: drop-shadow(0 3px 7px var(--col-shadow));
  }
  &:hover &__content {
    transform: translateY(-2px);
  }

  &__content {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
  }

  &__img {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    top: 0;
    right: 0;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      object-position: bottom right;
    }
  }

  &__title {
    z-index: 5;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  &__description {
    z-index: 5;
    color: var(--col-grey);
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0;
  }

  &__offer {
    margin-top: 22px;
    color: var(--col-accent);
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;
  }

  &__offer-description {
    font-size: 12px;
    letter-spacing: 0.4em;
    line-height: 16px;
    color: var(--col-grey);
    text-transform: uppercase;
  }
}

/* SideNav */
.side-overlay {
  z-index: 998;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  opacity: 0;
  &.shown {
    display: block;
  }
  &.visible {
    opacity: 0.5;
  }
}

.sidenav {
  z-index: 9999;
  position: fixed;
  background: #f3f4f9;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(calc(-100% + var(--minimized-sidenav-width)));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: var(--font-os);
  --padding-sidenav-h: 20px;
  padding: 40px var(--padding-sidenav-h);
  padding-right: 45px;

  &.shown {
    transform: translateX(0);

    .sidenav__trigger::before {
      content: 'close';
    }
  }

  &__trigger {
    position: absolute;
    top: 0;
    left: 100%;

    &::before {
      position: absolute;
      top: 50%;
      user-select: none;
      transform: translateY(-50%);
      content: 'menu';
      font-size: 32px;
      font-family: 'Material Icons';
    }

    img {
      display: block;
      height: 100%;
    }
  }

  &__ico {
    display: none;
    font-size: 24px;
  }

  &__item {
    color: #333;
    padding-left: var(--padding-sidenav-h);
    margin-top: 67px;
    margin-left: calc(2px - var(--padding-sidenav-h));
    font-size: 16px;
    line-height: 21.79px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 15px;
    user-select: none;

    &.active {
      box-shadow: -2px 0 0 var(--col-side-accent);
      color: var(--col-side-accent);
    }

    &:hover:not(.active) {
      color: var(--col-grey);
    }

    & + & {
      margin-top: 43px;
    }
  }

  .logo {
    &__img {
      height: 24px;
    }
  }

  ul {
    display: contents;

    li {
      list-style: none;
      padding: 0;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  user-select: none;

  &__img {
    max-height: 100%;
    object-fit: cover;
  }

  &__name {
    margin-left: 5px;
    font-weight: 600;
  }
}

.ico {
  font-family: 'Material Icons';
}

@media screen and (min-width: 768px) {
  :root {
    --padding-h: 27px;
    --minimized-sidenav-width: 104px;
  }

  .header {
    &__title {
      margin-top: 0;
      font-size: 28px;
      line-height: 38.13px;
    }

    &__search {
      margin-top: 33px;

      & > input {
        font-size: 18px;
      }
    }
  }

  .content {
    margin-top: 190px;
    grid-template-columns: repeat(2, 1fr);
  }

  .coupon {
    &__title {
      font-size: 14px;
    }

    &__description {
      font-size: 14px;
    }

    &__offer {
      font-size: 36px;
      margin-top: 31px;
    }

    &__offer-description {
      font-size: 16px;
      margin-top: 3px;
    }
  }

  .sidenav {
    --padding-sidenav-h: 40px;
    transform: translate(0);

    &__ico {
      display: unset;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .sidenav {
    * {
      transition: all 0.2s ease-in-out;
    }

    &__item {
      gap: 0;
      justify-content: center;
    }

    &__item li {
      overflow: hidden;
      width: 0;
    }

    &__ico {
      display: unset;
    }

    .logo__name {
      width: 0;
      margin-left: 0;
      overflow: hidden;
    }

    &.shown &__item {
      gap: 15px;
      justify-content: center;
    }

    &.shown &__item li {
      width: auto;
    }

    &.shown .logo__name {
      width: auto;
      margin-left: 5px;
    }
  }
}

@media screen and (min-width: 1280px) {
  :root {
    --padding-v: 40px;
    --padding-h: 60px;
    --minimized-sidenav-width: 0;
  }

  body {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
  }

  .header {
    position: unset;
    grid-column: 2;

    &.scrolled &__search::before {
      content: initial;
    }

    &__title {
      text-align: left;
    }
  }

  .content {
    margin-top: 0;
    grid-column: 2;
    grid-template-columns: repeat(3, 1fr);
    overflow-y: scroll;
  }

  .coupon__offer-description {
    margin-top: 6px;
  }

  .sidenav {
    position: unset;
    grid-row: 1 / span 2;
    grid-column: 1 / 1;
    transform: translate(0);

    &__trigger {
      display: none;
    }

    .logo__img {
      height: 50px;
    }
  }
}
